.expenseTracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  width: 33%;
}

.expContainer {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.expContainer > div {
  flex: 1;
  text-align: center;
}
.expContainer h4 {
  color: #333;
  margin: 5px 0;
}

.expContainer > div:first-of-type {
  border-right: 1px solid #dedede;
}

.sums {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.sums.plus {
  color: #2ecc71;
}

.sums.minus {
  color: #c0392b;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.list li span {
  color: #333;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.deleteBtn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .deleteBtn {
  opacity: 1;
}
