.navBar {
  background-color: rgb(125, 125, 125);
  padding: 10px;
  text-align: end;
}

.navLink {
  text-decoration: none;
  padding: 0 15px;
  transition: all 0.5s;
}

.navLink:hover {
  color: rgb(200, 200, 200);
}
