.container {
  margin: 2rem 10rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.cardContent {
  display: flex;
  gap: 1rem;
  max-width: 500px;
  padding: 3rem 4rem;
  text-align: end;
}

.cardBody {
  flex: 2 1 0;
}

.cardBody h3 {
  margin: 0;
}

.cardImg {
  flex: 1 1 0;
}

.img {
  width: 100%;
  border-radius: 100%;
}
