.container {
  margin: 2rem 10rem;
}
/* 
.btn {
  background-color: rgb(125, 125, 125);
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
.btn:hover {
  border-color: rgba(255, 255, 255, 1);
}
.btnBlock {
  display: block;
} */
