.navBar {
  background-color: rgb(125, 125, 125);
  padding: 15px 0;
  text-align: end;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.navLink {
  text-decoration: none;
  padding: 5px 15px;
  transition: all 0.5s;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.navLink:hover {
  border-color: rgba(255, 255, 255, 1);
}

.navLink:last-of-type {
  margin-right: 1rem;
}
