@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Rubik:wght@700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: white;
}

h1 {
  font-family: "Rubik", sans-serif;
}

html,
#root {
  background-color: #00356b;
}

.list-group-item{
  color: #333;
}