@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Rubik:wght@700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body {
  margin: 0;
}

h1 {
  font-family: "Rubik", sans-serif;
}

html {
  background: #00356b;
}

main {
  margin-top: 5rem;
}
